.ArticleDetail {
	scroll-behavior: smooth;
	padding: 16px 0;
	background-color: #f5f5f5;
	.article_img {
		background: url('../../imgs/article_background.jpg');
		background-size: cover;
		background-position: center;
		height: 200px;
	}
	.header {
		color: #fff;
	}
	.tag {
		text-transform: none;
		color: darkslategray;
		font-weight: 500;
		font-family: 'Segoe UI Regular';
		color: #111111;
		padding: 4px;
		min-width: 52px;
	}
	.tag:hover {
		background-color: #ebecfc;
	}
}

.Comment {
	padding-top: 16px;
	.like {
		text-transform: none;
		color: #333;
		background-color: #fbe9e9;
	}
	.reply {
		text-transform: none;
		color: #333;
	}
}
