@font-face {
	src: url('../../utils/fonts/Segoe_UI_Bold.ttf');
	font-family: Segoe;
}
@font-face {
	src: url('../../utils/fonts/SFMonoLight.otf');
	font-family: sfFont;
}
.EditArticlePage {
	background: linear-gradient(rgb(245, 245, 245, 0.1), rgb(245, 245, 245, 0.1)),
		url('../../imgs/edit_article_background.jpg');
	background-position: center;
	background-size: cover;
	.tag {
		display: inline-flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-radius: 8px;
		background-color: #f3f3f3;
		color: #3d3d3d;
		margin-top: 16px;
		padding: 2px 4px;
		font-size: 16px;
		margin-right: 8px;
	}
	.tag svg {
		height: 18px;
		width: 18px;
	}
	.tag span {
		margin-right: 8px;
	}
	.guide {
		// border: 1px solid royalblue;
		border-radius: 8px;
		background-color: rgba(245, 245, 245, 0.4);
		padding: 16px 8px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		min-width: 360px;
	}
	.guide::before {
		content: '';
		display: inline-block;
		margin: 0px auto 8px;
		width: 32px;
		height: 4px;
		background-color: #3b3b3b;
		border-radius: 16px;
	}
	.guide h3 {
		font-weight: bold;
	}
	.guide li {
		text-align: left;
		margin-top: 6px;
	}
	.articleTitle input,
	.articleTitle input::placeholder {
		font-family: Segoe;
		color: rgb(82, 82, 82);
		font-size: 48px;
	}
	.articleTitle input:focus ~ .guide {
		color: red;
	}
	.articleTitle input {
		color: #171717;
	}
	.articleContent {
		font-family: sfFont;
		width: 100%;
		outline: none;
		border: none;
	}
}
