header {
  height: 100%;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    ul {
      padding: 5px 0;
      margin: 0;
      display: flex;
      list-style: none;
      p {
        color: black;
        padding: 10px;
        font-weight: 700 !important;
        cursor: pointer;
        &:hover{
          
        }
      }
    }
  }
  .navbar-left {
    .icon-header {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
}
